backend/.venv/
backend/.env
frontend/.env
parser/.venv/
.env
.DS_Store
frontend/.env.production
database/
proxy/config.json
parser/celerybeat-schedule
parser/celerybeat-schedule-shm
parser/celerybeat-schedule-wal
parser/current_cars.json
